:host{
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.modal{
  padding: 2rem 4rem;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(236, 236, 236, .9);
  border-radius: 40px;
}
button{
  width: 80%;
}
