<!--<mat-sidenav-container #sidenav opened="true" mode="push">
  &ndash;&gt;
</mat-sidenav-container>-->

<mat-sidenav-container #sidenav>
  <mat-sidenav mode="side">
    <mat-nav-list>
      <mat-card *ngFor="let wallet of data.wallets | async" >
        <a [routerLink]="[wallet.id]">
        <mat-card-title>{{wallet.name}}</mat-card-title></a>
        <mat-card-subtitle>{{wallet.balance}}</mat-card-subtitle>
      </mat-card>
      <mat-card>
        <form [formGroup]="newWalletForm" novalidate (ngSubmit)="data.addWallet(newWalletForm.value)">
          <input type="text" formControlName="name">
          <input type="number" formControlName="balance">
          <select formControlName="currency">
            <option [value]="'UAH'">UAH</option>
            <option [value]="'USD'">USD</option>
          </select>
          <button type="submit">Add wallet</button>
        </form>
      </mat-card>

    </mat-nav-list>
  </mat-sidenav>

  <button (click)="sidenav.open()">test</button>
  <router-outlet></router-outlet>

</mat-sidenav-container>

