<mat-sidenav-container >
  <mat-toolbar color="primary">
    <span class="fa fa-bars" (click)="sidenav.toggle()"></span>
    <span class="spacer"></span>
    <span class="greeting">Hello, {{userName}}</span>
    <button class="exit-btn" aria-label="Sign out" (click)="auth.logout()"><span class="fa fa-sign-out" aria-hidden="true"></span></button>
  </mat-toolbar>
  <mat-sidenav mode="side" #sidenav mode="push">
    <mat-nav-list>
      <button class="menu-btn" (click)="sidenav.toggle()"><span class="fa fa-arrow-left"></span></button>
      <div class="wallet" *ngFor="let wallet of wallets" color="accent">
        <a [routerLink]="[wallet.id]" (click)="sidenav.toggle()">
          <h1>{{wallet.name}}</h1>
          <h2>Balance: {{wallet.balance | currency:wallet.currency}}</h2>
        </a>
        <button class="wallet-button" (click)="data.deleteWallet(wallet.id)" aria-label="Delete wallet"><span class="fa fa-trash" aria-hidden="true"></span></button>
      </div>
      <div class="wallet">
        <form [formGroup]="newWalletForm" novalidate (ngSubmit)="addNewWallet(); sidenav.toggle()">
          <input type="text" formControlName="name" name="walletName" placeholder="Wallet">
          <input type="number" formControlName="balance" name="walletBalance" placeholder="Balance" min="0">
          <mat-select class="currency-select"formControlName="currency" name="walletCurrency">
            <mat-option [value]="'USD'">USD</mat-option>
            <mat-option [value]="'EUR'">EUR</mat-option>
            <mat-option [value]="'UAH'">UAH</mat-option>
          </mat-select>
          <button class="wallet-button" type="submit" [disabled]="!newWalletForm.valid"><span class="fa fa-plus"></span></button>
        </form>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet *ngIf="hasWallets; else welcomeBlock"></router-outlet>
  <ng-template #welcomeBlock>
    <div class="modal">
      <h1>Whoops</h1>
      <p>It looks like you don't have any wallets</p>
      <button mat-raised-button color="primary" (click)="sidenav.toggle()">Let's create one!</button>
    </div>
  </ng-template>
</mat-sidenav-container>

